.faq {
  padding-top: 53px;
}

.faq__title {
  margin-bottom: 46px;
}
.faq__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.faq__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  padding: 21px 70px;
  margin-bottom: 19px;
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__item:nth-child(even) {
  background-color: var(--light-darkplum-color, #440F51);
  color: var(--white-color, #ffffff);
}
.faq__item:nth-child(odd) {
  background-color: var(--white-color, #ffffff);
  color: var(--light-black-color, #1c1a1a);
}

.faq__item::after {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.faq__item:nth-child(even)::after {
  background-image: url("images/open.svg");
  transition: all 0.4s ease-in, border-color 0.6s ease-in;
}

.faq__item:nth-child(even):hover:after {
  background-image: url("images/open-hover.svg");
  transition: all 0.4s ease-in, border-color 0.6s ease-in;
}

.faq__item:nth-child(even):active:after {
  background-image: url("images/open-active.svg");
  transition: all 0.4s ease-in, border-color 0.6s ease-in;
}



.faq__item:nth-child(odd)::after {
  background-image: url("images/open-purple.svg");
  transition: all 0.4s ease-in, border-color 0.6s ease-in;
}

.faq__item:nth-child(odd):hover:after {
  background-image: url("images/open-purple-hover.svg");
  transition: all 0.4s ease-in, border-color 0.6s ease-in;
}

.faq__item:nth-child(odd):active:after {
  background-image: url("images/open-purple-active.svg");
  transition: all 0.4s ease-in, border-color 0.6s ease-in;
}

@media (max-width: 1240px) {
  .container {
    max-width: 964px;
  }

  .faq {
    padding-top: 0;
    padding-left: 0;
  }

  .faq__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
    margin-left: 0;
  }

  .faq__item {
    padding: 11px 20px 11px 27px;
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 24px;
  }

  .faq__item:nth-child(even) {
    background-color: var(--white-color, #ffffff);
    color: var(--light-black-color, #1c1a1a);
  }

  .faq__item:nth-child(even)::after {
    background-image: url("images/open-purple.svg");
  }

  .faq__item:nth-child(even):hover:after {
    background-image: url("images/open-purple-hover.svg");
  }

  .faq__item:nth-child(even):active:after {
    background-image: url("images/open-purple-active.svg");
  }

  .faq__item:last-child {
    display: none;
  }

  .faq__item:nth-child(4) {
    margin-bottom: 0;
  }
}

@media (max-width: 964px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}


