.footer__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 166px;
}

.footer__inner {

}


.address{
    display: flex;
    flex-direction: column;
    margin-bottom: 39px;
    font-style: inherit;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}
.city   {
    padding-left: 60px;
    margin-bottom: 38px;
    background: url("../footer/images/location.svg") no-repeat left center;
    max-width: 300px;
}
.address__list-contacts {
    display: flex;
    flex-direction: column;
    gap: 11px;

}
.address__item_type_tel {
    background: url("../footer/images/phone-call.svg") no-repeat left center;
    padding-left: 60px;
}

.address__item_type_mail{
    background: url("../footer/images/envelope.svg") no-repeat left center;
    padding-left: 60px;
}

.social {
    display: flex;
    gap: 28px;
}

.social__icon {
    max-width: 48px;
    max-height: 48px;
    fill: #FFFFFF;
}

.social__icon:hover {
    fill: #EADEED;
}

.social__icon:active {
    fill: #CD06FF;

}

.social__icon:focus {
    fill: #EADEED;
    outline: 1px solid #cd06ff;
}

.social__item:last-child {
    margin-right: 0;

}
.footer {
    padding-top: 100px;
    margin-left: -76px;
    padding-left: 76px;
    margin-right: -184px;
    padding-right: 184px;
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__map {
    max-width: 680px;
    max-height: 274px;
}
.map__img {
    max-width: 100%;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.bottom__copyright {


}
.bottom__info {




}
.bottom__info-text {
    margin-bottom: 6px;
}
.bottom__link {

}
