
/*.halls__item {*/
/*    position: relative;*/
/*    font-weight: 700;*/
/*    font-size: 70px;*/
/*    line-height: 80px;*/
/*    text-transform: uppercase;*/
/*    height: 710px;*/
/*    margin-bottom: 60px;*/
/*    text-align: center;*/
/*    padding-top: 275px;*/
/*}*/

/*.halls__item:not(:nth-child(2n)) {*/
/*    margin-right: 20px;*/
/*}*/

/*.halls__item:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

/*.halls__name {*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    padding-left: 410px;*/
/*    padding-right: 410px;*/
/*    z-index: 10;*/
/*}*/

/*.halls__img {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*}*/
/*.section__title {*/
/*    text-align: center;*/
/*    margin-bottom: 60px;*/
/*    font-weight: 700;*/
/*    font-size: 40px;*/
/*    line-height: 50px;*/
/*    text-transform: uppercase;*/
/*}*/

.halls__title {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

.halls{
    margin-bottom: 100px;
}

.halls__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.halls__item {
    position: relative;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    height: 349px;
    width: 580px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 275px;
}

.halls__item:not(:nth-child(2n)) {
    margin-right: 20px;
}

.halls__item:nth-child(n+2) {
    margin-bottom: 0;
}

.halls__name {
    position: relative;
    top: -189%;
    right: 0;
    z-index: 10;
}

.halls__img {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0;
    max-width: 100%;
    height: auto;
    vertical-align: top;
}