
/*.halls__item {*/
/*    position: relative;*/
/*    font-weight: 700;*/
/*    font-size: 70px;*/
/*    line-height: 80px;*/
/*    text-transform: uppercase;*/
/*    height: 710px;*/
/*    margin-bottom: 60px;*/
/*    text-align: center;*/
/*    padding-top: 275px;*/
/*}*/

/*.halls__item:not(:nth-child(2n)) {*/
/*    margin-right: 20px;*/
/*}*/

/*.halls__item:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

/*.halls__name {*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    padding-left: 410px;*/
/*    padding-right: 410px;*/
/*    z-index: 10;*/
/*}*/

/*.halls__img {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*}*/
/*.section__title {*/
/*    text-align: center;*/
/*    margin-bottom: 60px;*/
/*    font-weight: 700;*/
/*    font-size: 40px;*/
/*    line-height: 50px;*/
/*    text-transform: uppercase;*/
/*}*/

.halls{
    margin-bottom: 100px;
}
.halls__title {
    margin-bottom: 48px;
}

.halls__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.halls__item {
    position: relative;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    height: 349px;
    width: 580px;
    text-align: center;
    padding-top: 275px;
}

.halls__name {
    position: relative;
    top: -246%;
    right: -29%;
    z-index: 10;
    max-width: 245px;
}

.halls__img {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0;
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

@media (max-width: 1240px) {
    .halls {
        padding-top: 70px;
        margin-bottom: 70px;
    }

    .halls__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 36px;
    }

    .halls__item {
        font-size: 50px;
        line-height: 60px;
        height: 267px;
        width: 443px;
        padding-top: 0;
    }

    .halls__list {
        gap: 18px;
    }

    .halls__name {
        top: 28%;
        right: -22%;
    }
}

@media (max-width: 964px) {
    .container {
        max-width: 768px;
        padding: 0 40px;
    }

    .section__title {
            font-size: 24px;
            line-height: 36px;
    }

    .halls {
        padding-top: 59px;
        margin-bottom: 62px;
    }

    .halls__list {

    }

    .halls__item {
        font-size: 36px;
        line-height: 48px;
        height: 200px;
        width: 335px;
        padding-top: 0;
    }

    .halls__name {
        top: 32%;
        right: -13%;
        padding: 0 50px;
    }

}