.header__title {
    font-weight: 900;
    font-size: 150px;
    line-height: 150px;
    text-transform: uppercase;
    letter-spacing: -15px;
}

.header__section {
    padding-top: 0;
}

.section__title {
    margin-bottom: 40px;
}

.header__title {
    font-weight: 900;
    font-size: 150px;
    line-height: 150px;
    text-transform: uppercase;
    letter-spacing: -15px;

    position: relative;
    bottom: -60px;
}

.header {
    position: relative;
    height: 940px;
    overflow: hidden;
    /*margin-bottom: 50px;*/
}

.header__background {
    position: absolute;
    width: 675px;
    height: auto;
    bottom: 0;
    right: 0;
}

.header__text {
    font-size: 28px;
    line-height: 50px;
    margin-left: 100px;

    position: relative;
    bottom: -60px;
}



.header__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.header__nav {
    display: inline-block;

}
.nav {

}


.header__logo {

}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    text-transform: uppercase;
    align-items: center;
}
.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 50px;
}

.nav__link {

}

.button {

}

.nav__button {
    max-height: 55px;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1B1A1B;
    padding: 12px 32px 13px 32px;
    border: 3px solid #CD06FF;
    border-radius: 10px;
    cursor: pointer;

}

.transition {
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.nav__button:hover {
    background-color: #6C0287;
    border-color: #6C0287;
}

.nav__button:active {
    background-color: #640AA3;
    border-color: #640AA3;
}

.nav__button:focus {
    background-color: #6C0287;
    border-color: #6C0287;
}

.header__inner {

}

.inner {
    position: relative;
    bottom: -90px;
}

.inner__block {
    display: flex;
    margin-bottom: 150px;
    gap: 40px;
}
.inner__item {
    display: flex;
    flex-basis: 166px;
    text-align: center;
}

.inner__text {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    align-self: flex-end;
}

.inner__span {

}

.inner__span_type_number {
    display: block;
    font-size: 100px;
    font-weight: 900;
    line-height: 141px;
    color: #CD06FF;
}
.inner__span_type_letter {
    display: block;
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    line-height: 106px;
    color: #CD06FF;
}

.inner__button {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;

    padding: 25px 69px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #6C0287;

    margin-bottom: 155px;
}

.inner__button:hover,
.inner__button:focus {
    background-color: #840AA3;
    border-color: #840AA3;
}

.inner__button:active {
    background-color:#640AA3;
    border-color:#640AA3;
}


.button__down {
    position: relative;
    left: 544px;
    bottom: 90px;
    background-color: transparent;
    border: none;
}

.button__down:hover {
    background-color: #FFFFFF;


}
.button__down:active {

}
.button__down:focus {

}