

.all-for-rest{

}

.section__title_rows_two {
    margin: 0 auto;
    /*max-width: 980px;*/
    margin-bottom: 40px;
    padding-left: 149px;
    padding-right: 155px;
}

.all-for-rest__list{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    gap: 40px 20px;
}
.all-for-rest__item{
    display: flex;
    flex-wrap:wrap;
    flex-basis: 32%;
}

.all-for-rest__item:nth-child(2) {
    margin-top: 70px;
}
.all-for-rest__item:nth-child(2n+4) {
    margin-top: -70px;
}

.all-for-rest__img{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0;
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.all-for-rest__figure {
    position: relative;

    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

    height: 228px;
    width: 380px;
    transition: all 0.6s ease;
}

.all-for-rest__figure:hover {
    transform: scale(1.1);
}

.all-for-rest__img-descr {
    position: relative;
    padding-top: 168px;
    padding-right: 40px;
    padding-left: 40px;
}

@media (max-width: 1024px) {
    .container {
        max-width: 964px;
    }

    .all-for-rest {
        padding-top: 83px;
    }

    .section__title_rows_two {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 36px;
    }

    .all-for-rest__list{
        gap: 30px 21px;
    }

    .all-for-rest__item{
        flex-wrap:wrap;
        flex-basis: 31%;
        width: 287px;
        height: 172px;
    }

    .all-for-rest__figure {
        width: 287px;
        height: 172px;
    }

    .all-for-rest__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .all-for-rest__img-descr {
        padding-top: 115px;
        padding-right: 23px;
        padding-left: 20px;
    }

    .all-for-rest__item:nth-child(2) {
        margin-top: 52px;
    }
    .all-for-rest__item:nth-child(2n+4) {
        margin-top: -52px;
    }

    .all-for-rest__img-descr_padding-top_smaller {
        padding-top: 83px;
    }
}