.reviews {
    padding: 102px 103px 0 103px;
}

.reviews__list{
    max-width: 980px;
    margin: 0 auto;
}

.reviews__img {
    width: 280px;
    height: 280px;
    border-radius: 5000%;
    object-fit: cover;
    object-position: top;
    margin-bottom: 11px;


}
.reviews__img-wrap:before {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 5000%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);

}

.reviews__item {
    display: flex;
    margin-bottom: 50px;
}


.reviews__figure {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.reviews__descr {
    display: inline-block;
    line-height: 28px;
    max-width: 680px;
    padding-top: 52px;
    text-align: left;

}