.reviews {
    padding: 102px 103px 0 103px;
}

.reviews__img {
    width: 280px;
    height: 280px;
    border-radius: 5000%;
    object-fit: cover;
    object-position: top;
    margin-bottom: 11px;

}

.reviews__item {
    display: flex;
    margin-bottom: 50px;
}


.reviews__figure {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.reviews__descr {
    display: inline-block;
    line-height: 28px;
    max-width: 680px;
    margin-top: 52px;
    text-align: left;

}